.App {
  text-align: center;
}

.container {
  display: flex;
}

.item {
  flex: 1;
  padding: 30px;
  border: 1px solid green;
  position: relative;
  overflow: hidden;
  
}

.overlay {
  transition: bottom ease 1s;
  position: absolute;
  bottom: -100px;
  background-color: green;
  left: 0;
  width: 100%;
  opacity: .6;
  
}

.item:hover .overlay {
  bottom: 0;
 
}

img {
  width: 100%;
}

@media only screen and (max-width: 600px) {

  .container {
    flex-direction: column
  }
}
