.App {
  text-align: center;
  background-color: #181818;
  color :whitesmoke;
}

img {
  width: 100%;
}

.container {
  /*display: flex;
  flex-wrap: wrap;*/
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.synopsis {
  /*display: flex;
  flex-wrap: wrap;*/
  color: white;
  background-color: #222222;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.item {
  /*flex: 1;
  padding: 0px;*/
  position: relative;
  border: 0.5px solid black;
  overflow: hidden;
}

.overlay {
  transition: bottom ease 1s;
  position: absolute;
  bottom: -120px;
  background-color: black;
  color: white;
  left: 0;
  width: 100%;
  opacity: 0;
  
}

.item:hover .overlay {
  opacity: .9;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  .container{
    display: block;
  }
}